.git
node_modules
vendor
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
*.log
.phpunit.cache
.phpunit.result.cache
Thumbs.db
.DS_Store
.idea
.vscode
.fleet
.nova
.zed
